.chat-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .5rem;
    border: .5px solid #cccccc42;

    .chat-left {
        display: flex;
        align-items: center;
        gap: 1rem;


        .chat-img {
            display: none;
            width: 4rem;
            border-radius: 50%;
        }

        .no-photo-replacement {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background: pink;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            background-color: yellow;
            font-weight: bold;
        }

        .chat-content {
            display: flex;
            flex-direction: column;

            .chat-name {
                font-weight: bold;
            }

            .chat-shown {
                // display: block;
                max-width: 15rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: rgb(139, 139, 1);
            }
        }
    }

    .notification {
        font-weight: 700;
    }
}

.chat-page {
    overflow-y: hidden;
    height: 100vh;
}

.chat-navbar {
    position: fixed;
    right: 0;
    left: 0;

}

.chat-page-main-content {
    width: 100%;
}

.chat-navbar-desktop {
    position: fixed;
    width: inherit;
}

.mobile-content {
    margin-top: 6rem;
    height: 100vh;
    overflow: auto;

    .list {
        height: 100%;

    }
}

// Desktop Code
.desktop-chat-list {
    overflow-y: hidden;
}

.desktop-content {
    margin-top: 7rem;
    padding: 0rem 0 7rem 0;
    height: 100vh;
    overflow: scroll;
}

.chat-profile {
    // min-height: inherit;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100vh;
}

.chat-desktop-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #fcfcfc;

    a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    p {
        color: yellow;
        text-shadow: 2px 2px black;
        font-weight: bold;
    }
}

.chat-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
    padding-top: 1rem;
    // height: 100vh;
    overflow: auto;
}

.chat-bubble {

    max-width: 15rem;
    word-wrap: break-word;
    padding: .5rem 1rem;
    border-radius: .8rem;
    width: 100%;
}

.desktop-chat-scroll {
    height: inherit;
    overflow: auto;
}

.you {
    align-self: flex-end;
    background: rgb(255, 255, 121);
    width: max-content;
}

.other {
    background: yellow;
    width: max-content;
}

.replacement {
    height: 100vh;
}